page-login {




.bg-image {
  background-image: url('./../assets/imgs/login.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
          }


.appForm{
  padding: 0px 20px 0px 20px;
        }



}


